{% extends 'base.html.twig' %}

{% block title %}Correction{% endblock %}

{% block body %}

 <div class="m-5 align-self-center">
    <div class="card shadow-lg my-5 ">
        <div class="card-header">
            <h1 class="font-weight-light text-center py-3 text-white presentation">Note Globale</h1>
        </div>
        <div class="card-body  ">
        <div class="row justify-content-around">
	<h4>Voici les réponses de </h4>
     <h4> {{reponsesEleve[0].user.prenom}} {{reponsesEleve[0].user.nom}} </h4>
	<div class="row justify-content-around">

     <div class="card-deck">
			<div class="card  border-danger mb-3" style="max-width: 18rem;">
				{# <div class="card-header font-weight-bold">Note Questionnaire</div> #}
                <div class="card-body">
                <h3 class="card-title text-danger"> {{noteQCM + noteQL}}/{{notetotalQuestion + notetotalQL}} </h3>
                
                </div>
					    
			 </div>
        </div>
					    
	</div>
	<div class="row justify-content-around">
		<div class="card-deck">
			<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
				<div class="card-header font-weight-bold">Note sur les QCM</div>
                <div class="card-body">
                    <h3 class="card-title">{{noteQCM}}</h3>
                                    
                    <p class="card-text">Vous avez obtenu
                    {{noteQCM}}
                    /
                    {{notetotalQuestion}} 
                    pour les questions QCM.</p>
                </div>
			    
			</div>
            
               
			{# pour chaque réponse de l'éleve, on vérifie si qcm si qcm affichage de la note total et des notes par question qcm  #}

			{% for reponseEleve in reponsesEleve  %}
        	
				{% if reponseEleve.reponseProf.question.typeReponse.type == "qcm"  %}


					<div class="card border-primary mb-3" style="max-width: 18rem;">
						<div class="card-header text-primary font-weight-bold">Question n°
							{{reponseEleve.reponseProf.question.numero}}</div>
                        <div class="card-body text-primary">
                            <h3 class="card-title">{{reponseEleve.noteQuestion}}/{{reponseEleve.reponseProf.question.baremeQuestion}}</h3>
                            {% if reponseEleve.noteQuestion == reponseEleve.reponseProf.question.baremeQuestion %}
                                <p class="card-text material-icons text-success">
                                    check_circle
                                </p>
                            {% else %}
                                <p class="card-text material-icons text-danger">highlight_off</p>

                            {% endif %}


                        </div>
					    
			        </div>
				{% endif %}
			{% endfor %}
        </div>

    </div>
            
		 
     <h4>Réponses Libres </h4>
    <div class="row justify-content-around">
		<div class="card-deck">
			<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
				<div class="card-header font-weight-bold">Note sur les Questions à réponses Libres</div>
                <div class="card-body">
                    <h3 class="card-title">{{noteQL}}</h3>
                    
                    <p class="card-text">Vous avez obtenu
                            {{noteQL}}
                            /
                            {{notetotalQL}} 
                    pour les questions à réponses Libres.</p>
                </div>
			    
			</div>
            {# {% for reponseEleve in reponsesEleve  %} #}
            {% for noteEleveQL in notesEleveQL %}
        	
				{% if noteEleveQL.reponseEleve.reponseProf.question.typeReponse.type == "libre"  %}


					<div class="card border-warning mb-3" style="max-width: 18rem;">
						<div class="card-header text-warning font-weight-bold">Question n°
							{{noteEleveQL.reponseEleve.reponseProf.question.numero}}</div>
                        <div class="card-body text-warning">
                               {# {{dump(noteEleveQL.reponseEleve.noteQL)}}   #}

                            <h3 class="card-title">{{noteEleveQL.noteQL}}/{{noteEleveQL.reponseEleve.reponseProf.question.baremeQuestion}}</h3>
                            {# {% endfor %} #}
                             {% if noteEleveQL.noteQL == noteEleveQL.reponseEleve.reponseProf.question.baremeQuestion %} 
                                <p class="card-text material-icons text-success">
                                    check_circle
                                </p> 
                             {% elseif noteEleveQL.noteQL < noteEleveQL.reponseEleve.reponseProf.question.baremeQuestion and  noteEleveQL.noteQL >= (noteEleveQL.reponseEleve.reponseProf.question.baremeQuestion )/2 %} 
                              <p class="card-text material-icons text-warning">flaky</p> 
                            {% elseif noteEleveQL.noteQL < (noteEleveQL.reponseEleve.reponseProf.question.baremeQuestion )/2 and noteEleveQL.noteQL >= 0 %}
                                <p class="card-text material-icons text-danger">highlight_off</p> 
                             {% endif %} 
                        </div>
			        </div>
				{% endif %}
			{% endfor %}


			</div>
		 </div>

      
</div>  
	</div>
		 </div>

      
</div>  
{% endblock %}
