{% extends 'base.html.twig' %}

{% block title %}Reponses au questionnaire{% endblock %}

{% block body %}
<div class="container">
  <h1 class="show">Questionnaire  {{questionnaireEleve.matiere.nom}}</h1>
  
  <form id="reponseEleve-form" method="post" action="{{path("reponse_eleve_store",{'id':user.id})}}">
   
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFormation">Nom </label>
          <input type="text" class="form-control" id="inputFormation" value="{{user.nom}}">
        </div>
      
     
        <div class="form-group col-md-6">
          <label for="inputDuree">Prénom</label>
          <input type="text" class="form-control" id="inputDuree" value="{{user.prenom}}">
        </div>
      </div>
      
     
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputSession">Session</label>
        <input name="session" type="hidden" id="input{{questionnaireEleve.session.id}}" value="{{questionnaireEleve.session.id}}">
         {# {{ dump(questionnaireEleve.session.id)}} #}
          <input  type="text" class="form-control" id="inputSession" value="{{questionnaireEleve.session.nom}}" >
        </div>
      
      
        <div class="form-group col-md-6">
          
           <label for="inputLieu">barème total</label>
          <input type="text" class="form-control" id="inputBareme" value="{{questionnaireEleve.baremeTot}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputContenu">Nombre de questions </label>
          <input type="textarea" class="form-control" id="inputNbre" value="{{questionnaireEleve.nbreQuestion}}" >       
        </div>
      </div>
      
      {% for question in questions %}
     
      <div id="question{{question.id}}" style="display:block;"  >
        <div class="form-group col-md-12 question">
          <label for="inputNom">Question n° {{question.numero}}</label>
         
          <input  type="text" class="form-control" id="inputNom{{question.id}}" value="{{question.libelle}}" data-question="{{question.id}}" >
        </div>
        {% for reponse in question.reponseProfs %}
       <div class="form-row">
        <input name="question" type="hidden" id="input{{question.id}}" value="{{question.id}}">
          <div class="custom-control custom-checkbox">
            {% set checked ='' %}
            
            <input   type="checkbox" name= "reponseEleve[{{question.id}}][]" class="custom-control-input reponseEleve" id="customCheck{{reponse.id}}" value="{{reponse.id}}" {% if checked %} checked="checked"{% endif %} onChange="getcheckrep(this)" data-rep="{{reponse.isJust}}" data-codequestion ="{{question.id}}">
            {# creation d'un input type hidden car l'attribut disabled n'envoient pas en bdd#}
            <input   type="hidden" name= "reponseEleve[{{question.id}}][]" class="custom-control-input reponseEleve"  value="{{reponse.id}}" {% if checked %} checked="checked"{% endif %} onChange="getcheckrep(this)" data-rep="{{reponse.isJust}}" data-codequestion ="{{question.id}}">
       
       
            <label class="custom-control-label" for="customCheck{{reponse.id}}">{{reponse.libelleReponse}}</label>
          </div>
          {{dump(reponse.isJust)}}
        </div>
            
      {% endfor %}
        <div id="codeRep{{question.id}}" > </div>                
        
       
        
       {%  if (question.numero < questionnaireEleve.nbreQuestion) %} 
       <div class="col text-center">
         <a onClick="goToNextQuestion({{question.id}})" id="questionsuivante" class="btn btn-success material-icons md-36" href="{{user.id}}#inputNom{{question.id+1}}" >done_outline</a>
        </div>
      {% endif %} 
      </div>
      
      
      {% endfor %}
      <div class="col text-center">
         <button  id="reponseEleve" type="submit" class="btn btn-danger btn-lg float-right">Envoi Définitif</button>
     </div>

  
    
      

  </form>
  


{% endblock %} 