{% extends 'base.html.twig' %}

{% block title %}Reponses au questionnaire{% endblock %}

{% block body %}
<div class="container">
  <h1 class="show">Questionnaire  {{questionnaireEleve.matiere.nom}}</h1>
  
  <form id="reponseEleve-form" method="post" action="{{path("reponse_eleve_store",{'id':user.id})}}">
   
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFormation">Nom </label>
          <input type="text" class="form-control" id="inputFormation" value="{{user.nom}}">
        </div>
      
     
        <div class="form-group col-md-6">
          <label for="inputDuree">Prénom</label>
          <input type="text" class="form-control" id="inputDuree" value="{{user.prenom}}">
        </div>
      </div>
      
     
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputSession">Session</label>
          <input name="session" type="text" class="form-control" id="inputSession" value="{{questionnaireEleve.session.nom}}" >
        </div>
      
      
        <div class="form-group col-md-6">
          
           <label for="inputLieu">barème total</label>
          <input type="text" class="form-control" id="inputLieu" value="{{questionnaireEleve.baremeTot}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputContenu">Nombre de questions </label>
          <input type="textarea" class="form-control" id="inputContenu" value="{{questionnaireEleve.nbreQuestion}}" >       
        </div>
      </div>
      
      {% for question in questions %}
      
        <div class="form-group col-md-12 question">
          <label for="inputNom">Question n° {{question.numero}}</label>
         
          <input  type="text" class="form-control" id="inputNom{{question.id}}" value="{{question.libelle}}">
        </div>
       {% for reponse in question.reponseProfs %}
       <div class="form-row">
        <input name="question" type="hidden" id="input{{question.id}}" value="{{question.id}}">
       <div class="custom-control custom-checkbox">
       {% set checked ='' %}
       <input   type="checkbox" name= "reponseEleve[{{question.id}}][]" class="custom-control-input" id="customCheck{{reponse.id}}" value="{{reponse.id}} {% if checked %} checked="checked"{% endif %}" >
       
       
        <label class="custom-control-label" for="customCheck{{reponse.id}}">{{reponse.libelleReponse}}</label>
      </div>
       </div>
      {# {{dump (reponse.isJust)}}
      {% if (reponse.isJust === true) %}
        
      {% endif %} #}
      {% endfor %}
     
      {%  if (question.id < questionnaireEleve.nbreQuestion) %}
         <a  id="questionsuivante" class="btn btn-primary" href="{{user.id}}#inputNom{{question.id+1}}" >Passer à la question suivante</a>
      {% endif %}
      
      
      {% endfor %}

     
  
    <button id="reponseEleve" type="submit" class="btn btn-primary btn-lg float-right">Envoyer<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>
      

  </form>
  


{% endblock %} 
