 {{ form_start(form) }}
    <h3>Questionnaire</h3>
    <div class="row">
        <div class="col-md-12">
        {{ form_row(form.questionnaire) }}
        </div>
    </div>
    
    
    <h3>Questions</h3>
  
    <div class="row questionwrapper" data-prototype="{{ form_row(form.question.vars.prototype)|e               ('html_attr') }}" data-index="{{ form.question|length }}">
    <div class="form-group col-md-12">
        {% block questions %} 
        {% for quest in form.question %}

     
                      <h6 > Question</h6>
            {# {{ form_row(form.question) }} #}
                {{form_label(quest.numero, 'N°', { 'attr': {'class': 'foo'} } )}} 
            {{ form_widget(quest.numero,{'attr': {'class': "form-control",}} )}}
            {{ form_label(quest.libelle,'Libellé de la question', { 'attr': {'class': 'foo'} } )}} 
            {{ form_widget(quest.libelle,{'attr': {'class': "form-control",}} )}}
            {{ form_label(quest.baremeQuestion,'Barème de la question', { 'attr': {'class': 'foo'}} )}} 
            {{ form_widget(quest.baremeQuestion,{'attr': {'class': "form-control",}})}}
            {{ form_label(quest.typeReponse,'Est ce QCM ou réponse libre ?', { 'attr': {'class': 'foo'}})}} 
            {{ form_widget(quest.typeReponse,{'attr': {'class': "form-control",}})}}
            {{ form_label(quest.nbreChoix,'si QCM, nombre de choix possible',{ 'attr': {'class': 'foo'}})}} 
            {{ form_widget(quest.nbreChoix,{'attr': {'class': "form-control",}})}}
            
             <div class="row reponsewrapper" data-prototype="{{ form_widget(quest.reponseProfs.vars.prototype)|e('html_attr') }}" data-index="{{ quest.reponseProfs|length }}"> 
             {# {{dump(rep)}}   #}
                {% for rep in quest.reponseProfs %} 
                
                    {{ form_label(rep.libelleReponse,'Libellés reponse',{ 'attr': {'class': 'foo'}})}} 
                    {{ form_widget(rep.libelleReponse,{'attr': {'class': "form-control",}})}}
                    {{ form_label(rep.isJust,'Réponse(s) possibles',{ 'attr': {'class': 'foo'}})}} 
                    {{ form_widget(rep.isJust,{'attr': {'class': "form-check",}})}}
                {% endfor %}
            </div>
        {% endfor %}
        {% endblock %}
        
        </div>
    </div>
   {{ form_widget(form._token) }}
<div>
<a href="" class="jsaddquestion">
            <span > addddddd</span>
        </a>
 <button class="btn btn-lg btn-primary">{{ button_label|default('Save') }}</button>
 </div>
     {# render rest empêche les légendes de s'afficher par rapport au form type  #}
{{ form_end(form, {'render_rest': false}) }}
 
 
