 {{ form_start(form) }}
    <h3>Questionnaire</h3>
    <div class="container">
                
            {{form_label(form.matiere, 'Matière', { 'attr': {'class': 'foo'} } )}}
            {{ form_widget(form.matiere,{'attr': {'class': "form-control"}} )}}
            {{form_label(form.session, 'Session', { 'attr': {'class': 'foo'} } )}}
            {{ form_widget(form.session,{'attr': {'class': "form-control",}} )}}
            {{ form_label(form.startedAt,'commence le', { 'attr': {'class': 'foo'} } )}} 
            {{ form_widget(form.startedAt )}}
            {{ form_label(form.stoppedAt,'s\'arrête le', { 'attr': {'class': 'foo'}} )}} 
            {{ form_widget(form.stoppedAt)}}
            {{ form_label(form.baremeTot,'Barème total ?', { 'attr': {'class': 'foo'}})}} 
            {{ form_widget(form.baremeTot,{'attr': {'class': "form-control"}})}}
            {{ form_label(form.nbreQuestion,'nombre de questions',{ 'attr': {'class': 'foo'}})}} 
            {{ form_widget(form.nbreQuestion,{'attr': {'class': "nbrequestion",}})}}
    
        <div>
                <h3>Questions</h3>
        </div>
                    <div class=" row questionwrapper" 
                    data-prototype-reponse="{{ form_widget(form.questions.vars.prototype.children['reponseProfs'].vars.prototype)|e('html_attr') }}"
                    data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}" 
                    data-index="{{ form.questions|length }}"
                    data-index-reponse="{{ form.questions.vars.prototype.children['reponseProfs']|length }}">
                            {% for quest in form.questions %} 
                                {% for rep in quest.reponseProfs %} 
                        
                                {% endfor %}
                             {% endfor %}  
                    </div>
                    
         
    
  
            {{ form_widget(form._token) }}
            <div>

            <button class="btn btn-lg btn-primary">{{ button_label|default('Save') }}</button>
            </div>
</div> 
    {# render rest empêche les légendes de s'afficher par rapport au form type  #}
{{ form_end(form, {'render_rest': false}) }}
 
 
