

{% block my_widget %}
 
     
        
                     {# <div class="row reponsewrapper" data-prototype="{{ form_widget(quest.reponseProfs.vars.prototype)|e('html_attr') }}" data-index="{{ quest.reponseProfs|length }}">  #}
                         {% for rep in quest.reponseProfs %} 
                                {{ form_label(rep.libelleReponse,'Libellés reponse',{ 'attr': {'class': 'foo'}})}} 
                                {{ form_widget(rep.libelleReponse,{'attr': {'class': "form-control",}})}}
                                {{ form_label(rep.isJust,'Réponse(s) possibles',{ 'attr': {'class': 'foo'}})}} 
                                {{ form_widget(rep.isJust,{'attr': {'class': "form-check",}})}} 
                            <div class=" col-6">
                                <a href="" class="jsaddreponse">
                                <span class="btn btn-lg btn-primary" > Ajouter une reponse</span>
                                </a>
                            </div>
                       
                        {% endfor %}  
                    {# </div> #}
 
{% endblock %}
{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('my_widget') }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}